<div class="module firebasechat" ng-controller="firebasechatController">

  <p>Usuario: <koa-input type="text" ng-model="message.userName"></p>
  <p>Mensaje: <koa-input type="text" ng-model="message.message"></p>
  <koa-button ng-click="insertMessage(message)">Enviar</koa-button>

  <koa-item ng-repeat="chat in messages">
    <div class="avatar blue" item-icon></div>
    <koa-item-body two-line>
      <div>{{chat.userName}}</div>
      <div secondary>{{chat.message}}</div>
    </koa-item-body>
  </koa-item>


</div>
